@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin:50px" >Projeto Elevador</h1>
    
    <div>
        <h2 style="margin:30px ">1º Passo - Definição das configurações iniciais do elevador</h2>
        <p>Ao iniciar o programa, o usuário precisa definir a configuração inicial do elevador informando o total de andares e a capacidade máxima permitida.</p>
        <img src="~/img/img1.png" alt="img 1" width= "400" height="450" style="margin:5px">
        <img src="~/img/img2.png" alt="img 2" width= "400" height="450" style="margin:5px">
        <img src="~/img/img3.png" alt="img 3" width= "400" height="450" style="margin:5px">
        <img src="~/img/img4.png" alt="img 4" width= "400" height="450" style="margin:5px">

    </div>

     <div>
        <h2 style="margin:30px ">2º Passo - Seleção dos comandos</h2>
        <p>Assim que a configuração inicial for realizada, o programa exibirá uma lista com os comandos válidos. O programa permite que apenas um comando seja executado por vez.</p>
        <img src="~/img/img5.png" alt="img 5" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para Inicializar o elevador</h3>
        <p>Ao selecionar o comando de número 1, o programa inicializa o elevador com as configurações definidas pelo usuário. </p>
        <img src="~/img/img6.png" alt="img 6" width= "400" height="450" style="margin:5px">
        <img src="~/img/img7.png" alt="img 7" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para entrar no elevador</h3>
        <p>Ao selecionar o comando de número 2, o programa adiciona uma pessoa ao elevador respeitando a capacidade máxima previamente definida. </p>
        <img src="~/img/img8.png" alt="img 8" width= "400" height="450" style="margin:5px">
        <img src="~/img/img9.png" alt="img 9" width= "400" height="450" style="margin:5px">
        <p style="margin:30px">Caso o usuário tente adicionar um número maior que a capacidade máxima, será exibido um aviso. Esse tratamento é feito em todos os comandos.</p>
        <img src="~/img/img10.png" alt="img 10" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para sair do elevador</h3>
        <p>Ao selecionar o comando de número 3, o programa retira uma pessoa do elevador caso o elevador não esteja vazio. </p>
        <img src="~/img/img11.png" alt="img 11" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para subir o elevador</h3>
        <p>Ao selecionar o comando de número 4, o elevador sobe e, em seguida, é exibido o andar atual. </p>
        <img src="~/img/img12.png" alt="img 12" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para descer o elevador</h3>
        <p>Ao selecionar o comando de número 5, o elevador desce e, em seguida, é exibido o andar atual. </p>
        <img src="~/img/img13.png" alt="img 13" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para redefinir as configurações do elevador</h3>
        <p>Ao selecionar o comando de número 6, o usuário poderá reconfigurar os andares e a capacidade máxima do elevador. </p>
        <img src="~/img/img14.png" alt="img 14" width= "400" height="450" style="margin:5px">
    </div>

    <div>
        <h3 style="margin:30px">Comando para encerrar o programa</h3>
        <p>O usuário poderá encerrar o programa a qualquer momento selecionando o opção número 7. </p>
        <img src="~/img/img15.png" alt="img 15" width= "400" height="450" style="margin:5px">
    </div>

     <div>
        <h3 style="margin:30px">Tramento de comandos inválidos</h3>
        <p>Caso o usuário digite um número que não representa nenhum comando, será exibido um aviso informando que o comando digitado é inválido.</p>
        <img src="~/img/img16.png" alt="img 16" width= "400" height="450" style="margin:5px">
        <img src="~/img/img17.png" alt="img 17" width= "400" height="450" style="margin:5px">
    </div>

</div>
